*{
  font-family:'Roboto',Sans-Serif;
  margin:0;
  padding:0;
}
body{
  background-color: black;
  color:white;
}
nav {
  display: flex;
  align-items: center;
 justify-content: space-between;
  background-color: black;
  color: white;
  padding: 0.8rem 1rem;
   /* crucial: prevent logo/input/icons from wrapping */
}
#head{
  font-size:1.6rem;
  
  color:#e4742a;
  
}
.input {
 display:flex;
  align-items: center;
  background: white;
  padding: 0 0.6rem;
  border-radius: 4px;
  height: 2.2rem;

  flex-grow: 1;        
  margin: 0 1rem;      
}

.input input{
  border: none;
  outline: none;
  font-size: 1rem;
  height: 100%;
  width: 100%;
  width:165px;
}

.input i{
  color: gray;
  font-size: 1rem;
  cursor: pointer;
  gap:1rem;
  flex-shrink:0;
  color:black;
}
.icon {
  display:flex;
  align-items:center;
  gap:0.3rem;
}
.icon i{
  padding: 0.2rem;
  background-color: gray;
  font-size:1.2rem;
}
.icon i:hover{
  color:#e4742a;
}
.main{
  display:flex;
  justify-content: space-around;
}
.main img{
  width:50%;
  display:inline-block;
  width:auto;
}
