*{
  font-family:'Roboto',Sans-Serif;
  margin:0;
  padding:0;
}
body{
  background-color: black;
  color:white;
}
nav {
  display: flex;
  align-items: center;
 justify-content: space-between;
  background-color: black;
  color: white;
  padding: 0.8rem 1rem;
   /* crucial: prevent logo/input/icons from wrapping */
   position:sticky;
   top:0px;
}
#head{
  font-size:1.6rem;
  
  color:#e4742a;
  
}
.input {
 display:flex;
  align-items: center;
  background: white;
  padding: 0 0.6rem;
  border-radius: 4px;
  height: 2.2rem;

  flex-grow: 1;        
  margin: 0 1rem;      
}

.input input{
  border: none;
  outline: none;
  font-size: 1rem;
  height: 100%;
  width: 100%;
  width:165px;
}

.input i{
  color: gray;
  font-size: 1rem;
  cursor: pointer;
  gap:1rem;
  flex-shrink:0;
  color:black;
}
.icon {
  display:flex;
  align-items:center;
  gap:0.3rem;
}
.icon i{
  padding: 0.2rem;
  background-color: gray;
  font-size:1.2rem;
}
.icon i:hover{
  color:#e4742a;
}
.main{
  display:flex;
  justify-content: space-around;
}
.main img{
  width:100%;
  display:flex;
  align-items:center;
 justify-content:center;
 margin-top:4rem;
}
.main button{
  margin-top:1.5rem;
  border:none;
  border-radius:1rem;
  outline:none;
  padding:0.6rem;
  background-color: #ed7022;
  
}
.main p{
  color:#e8e5e3;
  font-size:1.2rem;
}
.crd{
  display:flex;
  justify-content: center;
  margin-top:2rem;
}
.head h1{
  margin-top:1rem;
}
.card{
  width:150px;
  color:black;
  border-radius:10px;
  background-color:#fff;
  padding:0.8rem;
  gap:0.3rem;
  margin-inline:6px;
}
.card img{
  width:100%;
}
.card button{
  margin-top:0.5rem;
  background-color:#ed7022;
  padding:0.6rem;
  border:none;
  outline:none;
  border-radius:1rem;
}
.footer{
  display:flex;
  justify-content: space-around;
  background-color: #fff;
  padding:1.8rem;
  margin-top:2.5rem;
}
.footer .txt{
  color:black;
}
.txt p{
  text-decoration:underline;
  gap:1rem;
}
 button:hover{
  background-color: rgba(23,177,15,1);
  box-shadow: 5px -5px 20px  rgba(23,177,15,1);
}